.hero-image{
    background-image: url('images/headphones_hero_1.jpg');
    height: 800px;
    width: 1400px;
    border: 1px;
    color: white;
}

header {
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    width: 1000.39px;
    height: 32px;
    top: 27.76px;
    left: 200.61px;

}

#hero-content{
    width: 637px;
    height: 313px;
    top: 372px;
    left: 382px;
    margin: 25% auto;
    text-align: center; 
}

button {
border-radius: 20px;
background-color: red;
width: 162px;
height: 44px;
color: white;

}

#whatsection {
    width: 637px;
    height: 184px;
    top: 910px;
    left: 382px;
    text-align: center;
    margin: 20px auto;

}

#lorem {
    display: flex;
    justify-content: space-between;
    width: 1002px;
    height: 193px;
    margin: 20px auto;
    text-align: center;
}

.myimage {
    flex-direction: column;
    width: 207px;
    height: 180px;
    top: 1204px;
    left: 995px;
    
}

#part3 {
    width: 1400px;
    height: 650px;
    top: 1494px;
    left: 1px;
    background-image: url('images/headphones_hero_2.jpg');
    color: white;
    display: flex;
    flex-direction: column;
}

.myimage2 {
    display: flex;
    flex-direction: column;
    width: 190px;
    height: 190px;
    top: 381px;
}

#part2 {
    height: 500px;
}

#part3notes {
    text-align: center;
}

#part3text {
    width: 637px;
    height: 104px;
    top: 221px;
    left: 382px;
    

}